body {
    margin: 60px auto;
    width: 70%;
    background-image:
        linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5)),
         url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.agdelta.com%2Fhome-4%2Fwebsite-parallax-background-c%2F&psig=AOvVaw12T310al0jTujURGHk1atb&ust=1595831462548000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIj1xNil6uoCFQAAAAAdAAAAABAR');
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.img{
  width:1920px;
  height:1080px;
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.agdelta.com%2Fhome-4%2Fwebsite-parallax-background-c%2F&psig=AOvVaw12T310al0jTujURGHk1atb&ust=1595831462548000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIj1xNil6uoCFQAAAAAdAAAAABAR);
  background-size:cover;
}

