<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<style>
         body,h1 {font-family: "Raleway", sans-serif}
         body, html {height: 100%}
         .bgimg {
               background-image: url('bg.jpeg');
               min-height: 100%;
               background-position: center;
               background-size: cover;
          }
        </style>
	<body>
		<nav>
    		<ul>
        		<li><a href="https://utpal-gupta58.github.io/">Home</a></li>
	        	<li><a href="https://www.linkedin.com/in/utpal-gupta-92a200180/">Linkedin</a></li>
			<li><a href="/cv">CV</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:gupta.27@iitj.ac.in">email</a></li>
        		<li><a href="https://github.com/utpal-gupta58">github.com/utpal-gupta58</a></li>
			</ul>
		</footer>
	</body>
</html>
